@import '../../SCSSConstants/mixins.scss';

.app {
	@include displayFlexView(column, flex-start, center);
	padding: 20px;
}

.app__select {
	width: 80%;
}

.app__select-option {
	width: 200px;
	text-overflow: ellipsis;
	white-space: normal;
	overflow: hidden;
}

.app__button {
	min-height: 45px;
	margin: 10px auto;
	width: 150px;
	background-color: #999999;
	@include fontStyle(normal, #000000, 17px, 23px);
	border-radius: 8px;
	border: none;
	outline: none;
	transition: opacity 0.5s linear;
}
.app__button:hover {
	opacity: 0.6;
	cursor: pointer;
}

.app__total-record {
	margin: 0;
	@include fontStyle(normal, #000000, 25px, 29px);
}
